@inherits LayoutComponentBase

<body class="d-flex flex-column min-vh-100">
<div>
    <NavMenu/>
</div>

<main class="container container-fluid p-5" style="max-width: 1600px">
    @Body
</main>

<Foot/>
</body>