<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">Sportovní Centrum</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/"><i class="fas fa-plus-circle pe-2"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#"><i class="fas fa-bell pe-2"></i>item</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="btn btn-black btn-rounded" href="/login">Login</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="btn btn-black btn-rounded" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>